/* RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Personalized styling below */
body {
  margin: 0;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica", "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.weatherTiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #dedede;
  width: fit-content;
  margin: 0 auto;
}
.weatherTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
  font-weight: 600;
  min-width: 100px;
  min-height: 134px;
}
.weatherTile > div {
  display: flex;
  width: 80%;
  justify-content: space-between;
  font-size: 18px;
}
.weatherTile h4,
.weatherTile div div:last-child {
  color: #666;
}
.weatherTile:first-child {
  background-color: #dedede;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.App {
  width: 1080px;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
}
.title h1 {
  text-align: center;
  padding: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
.title {
  /* background-color: blue; */
  width: 650px;
  max-width: 100%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.backgroundRedondo {
  background-image: url(./images/redondo.jpeg);
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
}
.backgroundPittsburgh {
  background-image: url(./images/pittsburgh.jpeg);
  background-size: cover;
  background-position-y: 25%;
}
.backgroundMorgantown {
  background-image: url(./images/morgantown.jpeg);
  background-size: cover;
  background-position-y: 40%;
}
.backgroundValparaiso {
  background-image: url(./images/valparaiso.jpeg);
  background-size: cover;
  background-position-y: 25%;
}
.title h1,
.title select {
  font-size: 24px;
}
.title select {
  color: white;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  border-color: white;
  background: transparent;
  margin-left: 10px;
}
.title option {
  background: white;
  color: black;
}
.loading {
  height: 174px;
  width: 650px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.material-icons {
  font-family: "Material Icons";
}
